/*
Theme Name: Bones Child
Theme URI: http://www.themble.com/bones
Description: This is a custom child theme I have created.
Author: James Bond Author
URI: https://www.themble.com/
Template: bones
Version: 1.7

@import url(../bones/library/css/style.css);
*/
.navbar-inverse {
  background: white;
}
h1.site-title {
    color: #f16c20;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 5px;
    margin-top: 12px;
    background: whie;
}
#site-description {
    font-size: 1.5rem;
}
h1.single-title {
    border-bottom: 3px solid #f16c20;
    color: #000;
    display: inline;
    font-size: 24px;
    line-height: 28px;
    margin-top: 0;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.colored-line-left {
    display: none;
}
.entry-content p {
    text-align: center;
}
.main {
    height: 38rem;
}
